@import "tailwindcss";

/* Custom scrollbar */
::-webkit-scrollbar {
  width: 8px;
}
::-webkit-scrollbar-thumb {
  background-color: #2563eb; /* blue-600 */
  border-radius: 4px;
}
::-webkit-scrollbar-track {
  background-color: #f3f4f6; /* gray-100 */
}
